	<!-- #footer -->
    <footer id="footer">
    	<div class="container">
            	<p>&copy; 2019 Copyright. All Rights Reserved. Created by <a href="http://www.conduction.nl" target="_blank">Conduction</a> for <a href="http://www.utrecht.nl" target="_blank">Utrecht</a>.</p> 
				{#
                {% if  
                app.request.attributes.get("_route") != 'app_assent_index' and 
                app.request.attributes.get("_route") != 'app_assent_reject' and  
                app.request.attributes.get("_route") != 'app_assent_confirm' and
                app.request.attributes.get("_route") != 'app_assent_processed' and 
                app.request.attributes.get("_route") != 'app_assent_assent' and 
                (employeeContact is not defined or (employeeContact is defined and employeeContact is empty)) and
                (user is not defined or (user is defined and user is empty)) %} 
				<a href="http://sso.zaakonline.nl?responceUrl={{ absolute_url(path('app_default_login'))|replace({'https://': 'http://'}) }}" class="btn btn-login"><span class="fas fa-sign-in-alt"></span> Inloggen voor medewerkers</a>
				{% endif %}
				#}
        </div>
        
    </footer>
    <!-- #footer end -->
    
    <!--[if lt IE 8]>
    	<div class="browser-notice">
            <div class="container">
            	<div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="blank">here....</a></span>
                </div>
            </div>
        </div>
	<![endif]-->