{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <!-- .tbl-pricing -->
    <div class="tbl-pricing tbl-prc-recommended animation" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >
        <h1>De resource kon niet worden gevonden</h1>
        Error 404: resource niet gevonden
    </div>
    <!-- .tbl-pricing end -->
{% endblock %}
